<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>notes</title>
</head>
<body>

<tr th:object="${defaultUser}">
    <td th:text="${defaultUser.getFirstName()}"> 1</td>
    <td th:text="${defaultUser.lastName}"> 2</td>
    <td th:text="${defaultUser.username}"> 3</td>
</tr>

<button th:onclick="|location.href='@{/notes/new_user}'|" >sign in</button>
<button th:onclick="|location.href='@{/notes/{username}(username=${username})}'|" >log in</button>

<h2>hello world</h2>

</body>
</html>